body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  /*FAWNTS*/
  
  .offcanvas-menu {
    position: fixed;
    top: 0;
    left: -250px; /*Hides the menu to the left by default and also refers to the script.js functionality*/
    width: 250px;
    height: 100%;
    background-color: #7550af;
    color: #fff;
    transition: 0.3s ease;
    padding: 20px;
  }
  
  .offcanvas-menu ul {
    list-style: none;
    padding: 0;
  }
  /*Parent element of the off canvas menu stylization.*/
  
  .offcanvas-menu ul li {
    margin-bottom: 15px;
  }
   /*Child element of the off canvas menu stylization.*/
  
  .offcanvas-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  /*Targets the a elements that are inside of offcanvas ul and li.*/